.advantages_list {
    @include font_family_size-italic("Palatino", 18px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    &_item {
        display: flex;
        gap: 30px;
        align-items: center;
        & h3 {
            margin-bottom: 15px;
        }
        & img {
            width: 80px;
            height: 80px;
        }
    }
}