@font-face {
    font-family: "Palatino-bold";
    src: url("../../fonts/Palatino/palatinolinotype_bolditalic.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Palatino";
    src: url("../../fonts/Palatino/palatinolinotype_italic.ttf") format("truetype");
}